<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop on React JS Report</title>
    <link rel="stylesheet" href="css/event.css">
</head>

<body>

    <header>
        <h1>Workshop on <%= ename %> Report Preview</h1>
    </header>

    <section id="institution-details">
        <h2>VIGNANA BHARATHI INSTITUTE OF TECHNOLOGY</h2>
        <p>Aushapur (V), Ghatkesar (M), R.R. Dist-501301</p>
    </section>

    <section id="event-details">
        <h2>Event Details</h2>
        <ul>
            <li><strong>Date:</strong> <%= edate %></li>
            <li><strong>Timings:</strong> <%= etime %></li>
            <li><strong>Venue:</strong> <%= evenue %></li>
            <li><strong>Number of attendees:</strong> 206</li>
            <li><strong>Department:</strong> Computer Science & Engineering</li>
        </ul>
    </section>

    <section id="department-head">
        <h2>Department Head</h2>
        <p><strong>Head of the Department:</strong> Dr. M. Venkateshwara Rao</p>
    </section>

    <section id="faculty-coordinator">
        <h2>Faculty Coordinator</h2>
        <p><strong>Faculty Coordinator:</strong> Dr N. Arjun</p>
    </section>

    <section id="event-description">
        <h2>Event Description</h2>
        <p>
            A ReactJS workshop was conducted to introduce participants to a powerful JavaScript library essential
            for modern web development. ReactJS's component-based architecture and efficient Virtual DOM offer a
            streamlined approach to building interactive user interfaces. The workshop aimed to equip attendees with
            practical skills to create dynamic UIs, enhancing their employability in the evolving tech industry. By
            focusing on hands-on exercises, the workshop provided a concise and effective way for participants to
            grasp ReactJS concepts and their real-world applications. Overall, the workshop aimed to empower
            participants with the knowledge needed to excel in building responsive and engaging web applications.
        </p>
    </section>
    <button ><a href="/student">Edit Button</a></button>
</body>

</html>
